.contents
  %header.main-header 
    = render "layouts/header"
  %main.defalut-container
    .l-side 
    .r-content
      .from-logout-inner
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "logout-btn"
        