.contents
  %header.main-header 
    = render "layouts/header"
  %main.defalut-container
    .l-side 
    .r-content
      .from-logout-inner
        %input{:type => "submit", :value => "ログアウト",:class => "logout-btn"}/

        