.login-content
  %header.login-header
    = render "layouts/header"
  %main.login-main
    %section.main-container
      .login-form
        .form-items
          .items-adress
            %input{type:"text",placeholder: "メールアドレス", class: "input"}
          .items-password
            %input{type:"text",placeholder: "パスワード",class: "input"}
          %input{type: "submit", value:"ログイン",class:"login-btn"}/
  



  


