.items_new_page{
  background-color: silver;
  form{
    margin: 0 auto;
    background-color: #ffffff;
    max-width: 600px;
    width: 100%;
    border-radius: 4px;
    padding: 32px 24px;
    .alert {
      color:#262626; 
      background:#FFEBE8;
      text-align: center;
      border:2px solid #990000;
      padding:12px; font-weight:850;
    }
    .form_section{
      border-bottom: solid 1px #999999;
      padding-top: 10px;
      padding-bottom: 10px;

      .form-group__require {
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        font-size: 12px;
        background-color: red;
        color: white;
      }
      label{
        font-size: 20px;
        font-weight: bolder;
      }
      select,input,textarea {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        height: 48px;
        margin: 0;
        outline: none;
        padding: 0 16px;
      }
      .item_info_form {
        height: 150px;
      }

    }
    .image_register{
      .image-attend{
        margin: 10px;
        font-size: 12px;
      }
      #image-box-1{
        display: flex;
        flex-wrap: wrap;
        .item-image{
          padding-bottom: 6px;
          padding-right: 6px;
          .item-image__area{
            border: solid 3px#3CCACE;
            border-radius: 10px;
            padding: 4px;
            img{
              border-radius: 5px;
            }
            .item-image__operetion--delete{
              text-align: center;
              border-radius: 16px;
              background-color: gray;
              color: #ffffff;
              width: 65%;
              margin: auto;
            }
          }
        }
        #image-box__container{
          height: 110px;
          background-color: #3CCACE;
          border: dotted 4px silver;
          border-radius: 20px;
          position: relative;
          input{
            display: none;
          }
          img{
            margin: auto;
            position: absolute;
            width: 60px;
            padding-top: 30px;
            left: 42%;
          }
          .image-form{
            display:block;
            float:left;
            height: 100%;
            width: 100%;
          }
        }
        .item-num-0{
          width: 600px;
        }
        .item-num-1{
          width: 470px;
        }
        .item-num-2{
          width: 350px;
        }
        .item-num-3{
          width: 230px;
        }
        .item-num-4{
          width: 110px;
        }
        .item-num-5{
          width: 100%;
        }
        .item-num-6{
          width: 470px;
        }
        .item-num-7{
          width: 350px;
        }
        .item-num-8{
          width: 230px;
        }
        .item-num-9{
          width: 110px;
        }
      }
      
    }

    .register_btns{
      padding: 30px;
      .exhibition-btn{
        background-color: #3CCACE;
        color: #ffffff;
        border-radius: 16px;
      }
    }
    .attentions{
      padding-top: 10px;
      font-size: 12px;
    }
  }
}
