.items_new_page{
  background-color: silver;
  form{
    margin: 0 auto;
    background-color: #ffffff;
    max-width: 600px;
    width: 100%;
    border-radius: 4px;
    padding: 32px 24px;
    .form_section{
      border-bottom: solid 1px #999999;
      padding-top: 10px;
      padding-bottom: 10px;

      select,input,textarea {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        height: 48px;
        margin: 0;
        outline: none;
        padding: 0 16px;
      }
      .item_info_form {
        height: 150px;
      }
      .value_form{
        width: 30%;
      }
    }
    .image_register{
      #image-box-1{
        display: flex;
        flex-wrap: wrap;
      }
      .image-form{
        width: 100%;
        height: 150px;
        background-color: #ccc;
        border: dotted 4px silver;
        position: relative;
        input{
          display: none;
        }
        img{
          top: 50%;
          left: 50%;
          position: absolute;
          height: 24px;
          width: 24px;
        }
      }
    }
    .value_register{
      display: flex;
      justify-content: space-between;
    }

  }
}
