$color-item1: white;
$color-item2: whitesmoke;
.login-content{
  box-sizing: border-box;
  background-color: $color-item2;
  .login-header {
    width:100vw;
    height:100px;
    padding-bottom: 50px;
    background-color: $color-item1;
  }
  
  .login-main {
    height: 900px;
    width: 100vw;

    .main-container {
      background-color:$color-item1;
      width: 380px;
      height: 400px;
      margin: auto;
      
      .login-form {
        width:100%;
        height: 100%;
        text-align: center;
              
          .items-adress {
            margin-top: 90px;
            padding-top: 70px;

          }
          .items-password{
            padding: 20px;
          }
          &__input {
            width:300px;
            height: 50px;
            border-radius: 5px;

          }
          .login-btn {
            color: $color-item1;
            background-color:turquoise;
            width:300px;
            height:50px;
            margin-top:5px;
            
          }

        }
      }
      
    }
  }

