$color-item1: white;
$color-item2: whitesmoke;

.contents {
  box-sizing: border-box;
  .main-header {
    width: 100vw;
    height: 150px;
  }
  .defalut-container {
    background-color:$color-item2;
    height: calc(100vh - 150px);
    display: flex;
  
    .l-side {
      background-color: $color-item2;
      width: 300px;
      height: 100%;
    
    }
    .r-content {
      background-color:$color-item1;
      width:700px;
      height: 200px;
      margin-left: 100px;
      margin-top: 40px;
 
      .from-logout-inner {
          background-color: $color-item1;
          width: 500px;
          height: 100px;
          margin-left: 200px;
          text-align: center;
 
        .logout-btn { 
            background-color: turquoise;
            display : block;
            color: $color-item1;
            font-size: 20px;
            width: 280px;
            height: 40px;
            padding-top: 10px;
            margin-top: 50px;
            text-decoration: none; 
        }
      }
    }
  }
}

