$color-item1: white;
$color-item2: whitesmoke;
$color-item3: turquoise;

.sending-content {
  box-sizing: border-box;

  
  .sending-main  {
    background-color:$color-item2;
    height: 900px;
    width: 100vw;
    
    &__content {
      background-color:$color-item1;
      width: 600px;
      height: 1100px;
      margin: auto;
      &__title {
        height: 30px;
        font-size: 20px;
        text-align: center;
        border-bottom: 1px $color-item2 solid;
        padding: 15px;

        font-weight: bolder;
      }
      &__form {
        background-color: $color-item1;
        height: 100%;
        padding-left: 160px;
  
        &__part {
         background-color: $color-item1;
         width: 300px;
         height: 100%;
       
          .new_sending_destination {
            margin-top: 30px;
            height: 100%;
         
            .sending-group {
              font-size: 16px;
              &__input {
                margin-bottom: 25px;
                border-radius: 5px;
                width: 280px;
                height: 40px;
              }
              &__input--left {
                margin-bottom: 25px;
                border-radius: 5px;
                width: 130px;
                height: 40px;
              }
              &__input--right {
                margin-bottom: 25px;
                margin-right: 20px;
                border-radius: 5px;
                width: 130px;
                height: 40px;
                float: right;
              }
              .sending-group__require {
              background-color: $color-item3;
              border: solid 1px $color-item3;
              color:  $color-item1;
             }
              .new-singup-btn {
                width: 280px;
                height: 40px;
                background-color: $color-item3;
                color:  $color-item1;
              }         
            }
          }
        }
      }
    }
  }
}